/* BARCO ClickShare master styles */
/* GLOBAL */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DaxRegular', sans-serif;
  background-color: #F5F5F5;
}
/* html {
  box-sizing: border-box;
} */
/* FONTS */
@font-face {
  font-family: 'DaxItalic';
  src: url("../fonts/dax/dxit____-webfont.woff");
}
@font-face {
  font-family: 'DaxLight';
  src: url("../fonts/dax/dxlt____-webfont.woff");
}
@font-face {
  font-family: 'DaxRegular';
  src: url("../fonts/dax/dxrg____-webfont.woff");
}
@font-face {
  font-family: 'DaxMedium';
  src: url("../fonts/dax/dxmd____-webfont.woff");
}
@font-face {
  font-family: 'DaxBold';
  src: url("../fonts/dax/dxbd____-webfont.woff");
}
@font-face {
  font-family: 'DaxBlack';
  src: url("../fonts/dax/dxbk____-webfont.woff");
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'), url("../fonts/glyphicons-halflings-regular.woff") format('woff'), url("../fonts/glyphicons-halflings-regular.ttf") format('truetype'), url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format('svg');
}
/* */
.container {
  width: 100%;
  height: 100%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-top img {
  padding-left: 170px;
  width: 108px;
}

.logo-corner {
  top: 0;
  left: 0;
}

nav {
  display: block;
}

nav .nav-wrapper {
  position: relative;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
  margin: 0;
}

nav ul li {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  float: left;
  padding: 0;
}

nav ul li.active {
  background-color: rgba(0, 0, 0, 0.1);
}

nav ul a {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-size: 1rem;
  color: #FFFFFF;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

nav ul a.btn,
nav ul a.btn-flat,
nav ul a.btn-floating,
nav ul a.btn-large,
nav ul a.btn-large {
  margin-top: -2px;
  /* margin-left: 75px; */
  margin-right: 72px;
}

nav ul a.btn > .material-icons,
nav ul a.btn-flat > .material-icons,
nav ul a.btn-floating > .material-icons,
nav ul a.btn-large > .material-icons,
nav ul a.btn-large > .material-icons {
  height: inherit;
  line-height: inherit;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-wrapper h2 {
  font-family: 'DaxLight', sans-serif;
  color: #999999;
  padding: 25px 0 0 163px;
}

.nav-title {
  font-size: 24px;
}

.asterisk{
  font-family: sans-serif;
}
.black {
  background-color: #000 !important;
}

.black-text {
  color: #000 !important;
}

.white {
  background-color: #fff !important;
}

.white-text {
  color: #fff !important;
}

.transparent {
  background-color: transparent !important;
}

.transparent-text {
  color: transparent !important;
}

.right {
  float: right !important;
}

.hdr-dsktop-title {
  font-family: 'DaxBold', sans-serif;
  font-weight: bolder;
  font-size: 48px;
  color: #F00000;
  text-align: center;
}

.hdr-success-title {
  font-family: 'DaxBold', sans-serif;
  font-weight: bolder;
  font-size: 48px;
  color: #000000;
  line-height: 45px;
  text-align: center;
}

.hdr-h1 {
  font-family: 'DaxBold', sans-serif;
  font-weight: bolder;
  font-size: 36px;
  color: #F00000;
  line-height: 45px;
  padding-top: 22px;
  text-align: center;
}

.hdr-h2 {
  font-family: 'DaxBold', sans-serif;
  font-weight: bolder;
  font-size: 28px;
  text-align: center;
}

.hdr-h3 {
  margin-top: -8px;
  font-family: 'DaxRegular', sans-serif;
  /* font-weight: bold; */
  font-size: 18px;
  text-align: center;
  margin-bottom: 7px;
}

.hdr-h4 {
  padding-top: 15px;
  /*padding-bottom: 200px;*/
  font-family: 'DaxLight', sans-serif;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
}

.btn-hdr {
  margin-bottom: 20px;
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

ul:not(.browser-default) > li {
  list-style-type: none;
}

.btn,
.btn-flat,
.btn-large {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn,
.btn-flat,
.btn-floating,
.btn-large,
.btn-large {
  font-size: 1rem;
  outline: 0;
}

.btn,
.btn-large {
  text-decoration: none;
  color: #F10019;
  background-color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
}

.btn-large:hover,
.btn:hover {
  background-color: #F10019;
  color: #FFFFFF;
}

.btn-product {
  height: 42px;
  width: 230px;
  color: #FFFFFF;
  font-family: 'DaxRegular', sans-serif;
  font-size: 15px;
  line-height: 42px;
  text-align: center;
  text-shadow: 1px 1px 1px 0 #BD0000;
  border-radius: 4px;
  background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
  text-transform: none;
}

.btn-product-outline {
  height: 42px;
  width: 230px;
  padding-bottom: 10px;
  font-family: 'DaxRegular', sans-serif;
  font-size: 15px;
  line-height: 42px;
  text-align: center;
  text-shadow: 1px 1px 1px 0 #BD0000;
  border: solid 2px #F10019;
  color: #F10019;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-transform: none;
}

.red2 {
  width: 175px;
  /* height: 41px; */
  border: solid 2px #F10019;
  color: #F10019;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-transform: none;
}

.main {
  /* background-color: #F5F5F5; */
  /* width: 980px;
  height: 800px;
  position: absolute; */
  margin: 0 auto;
  /* right: 0;
  left: 0; */
  /* background-image: url('../../assets/img/illus-pie-chart-gray-desktop.png'); */
  /* background-position: 0 500px; */
}

.main-content {
  /* width: 660px; /*can be in percentage also.*/
  /* height: 900px; */
  margin: 0 auto;
  position: relative;
  /* margin-top: 50px; */
  font-family: DaxMedium, sans-serif;
}

.main-row {
  padding-top: 30px;
}

.menu {
  padding: 20px;
}

.block {
  margin-left: 5px;
  margin-bottom: 7px;
}

.btn-get {
  margin-top: 25px;
  margin-right: 15px;
}

.text-overlay {
  /* position: relative; */
}

.text-overlay h3 {
  font-family: 'DaxMedium', sans-serif;
  position: absolute;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 36px;
  text-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
  bottom: 0;
}

.text-overlay h4 {
  font-family: 'DaxMedium', sans-serif;
  position: absolute;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  text-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
  bottom: 0;
}

.text-overlay span {
  position: relative;
}

.btn-space {
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-next {
  height: 42px;
  width: 230px;
  color: #FFFFFF;
  font-family: 'DaxMedium', sans-serif;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  text-shadow: 1px 1px 1px 0 #BD0000;
  border-radius: 4px;
  background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
  text-transform: none;
}

.rectangle-3 {
  /* height: 44px; */
  width: 160px;
  border-radius: 4px;
  background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
  color: #FFFFFF;
  font-size: 14px;
}

.rectangle-3 a:visited {
  color: #FFFFFF;
}

.rectangle-3 a:active {
  color: #FFFFFF;
}

.img-overlay {
  background-color: rgba(0,0,0,0.5);
}

.video-thumbs {
  margin: auto;
  width: 570px;
}

.sub-text {
  font-family: 'DaxLight', sans-serif;
}

.product-list li {
  display: block;
  text-align: left;
  margin-left: 25px;
}

.product-list li:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  font-size: 18px;
  float: left;
  margin-left: 0;
  margin-right: 10px;
  color: #00E77D;
  position: absolute;
  left: 0;
}

.product-col {
  width: 30%;
  height: 700px;
  margin-right: 25px;
}

.footer {
  background-color: #F5F5F5;
}

.footer .swoop > img {
  margin-bottom: -2px;
  width: 100%;
  display: block;
  z-index: 2;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1024px) {
  .hide-on-med-and-down {
    display: none !important;
  }
  /* css */
  * {
    margin: 0;
    padding: 0;
  }
  /* clear margin and padding */
  body {
    font-family: 'DaxMedium', sans-serif;
    background-color: #F5F5F5;
  }
  /* fonts */
  @font-face {
    font-family: 'DaxItalic';
    src: url("../fonts/dax/dxit____-webfont.woff");
  }
  @font-face {
    font-family: 'DaxLight';
    src: url("../fonts/dax/dxlt____-webfont.woff");
  }
  @font-face {
    font-family: 'DaxRegular';
    src: url("../fonts/dax/dxrg____-webfont.woff");
  }
  @font-face {
    font-family: 'DaxMedium';
    src: url("../fonts/dax/dxmd____-webfont.woff");
  }
  @font-face {
    font-family: 'DaxBold';
    src: url("../fonts/dax/dxbd____-webfont.woff");
  }
  @font-face {
    font-family: 'DaxBlack';
    src: url("../fonts/dax/dxbk____-webfont.woff");
  }
  /* .wrapper {
  padding: 25px 50px 25px 50px;
} */
  /* .wrapper img{
  background-image: url(../images/pie.jpg), url(../images/money04.jpg);
  background-repeat: no-repeat;
  background-position: left bottom, top right;
  background-size: 70%, 70%;
  opacity: 0.20;
} */
  /* navigation */
  nav {
    height: 72px;
  }

  .navbar-brand {
    position: fixed;
    padding: 0;
  }

  .navbar-brand > img {
    position: fixed;
    top: 0;
    left: 0;
    height: 72px;
    width: auto;
  }

  .dynamic-content {
    height: 700px;
    width: 100%;
    border: solid 2px #000;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .fixed-top img {
    padding-left: 170px;
    width: 108px;
  }

  .rectangle-2 {
    /* height: 44px; */
    width: 160px;
    border: solid 1px #F00000;
    border-radius: 4px;
    background: #FFFFFF;
    color: #F00000;
    font-size: 14px;
  }

  .rectangle-3 {
    /* height: 44px; */
    width: 160px;
    border-radius: 4px;
    background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
    color: #FFFFFF;
    font-size: 14px;
  }

  .rectangle-3 a:visited {
    color: #FFFFFF;
  }

  .rectangle-3 a:active {
    color: #FFFFFF;
  }

  .rectangle-3a {
    /* height: 41px; */
    width: 229px;
    border: 1.5px solid #F00000;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #F00000;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    text-shadow: 1px 1px 1px 0 #BD0000;
  }

  .modal-btn {
    width: 200px;
    border-radius: 4px;
    background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
    color: #FFFFFF;
    font-size: 16px;
  }

  section {
    padding-top: 25px;
  }

  #intro {
    padding-top: 75px;
  }

  .click-share-home-priv {
    height: 41px;
    width: 463px;
    color: #8D8D8D;
    font-size: 18px;
    line-height: 20px;
  }

  .mask {
    height: 201px;
    width: 357px;
    background-color: #FEE000;
  }

  .sidenav-active {
    height: 117px;
    width: 232px;
    border-radius: 4px;
    color: #fff;
    background: linear-gradient(0deg, #ef9a9a 0%, #ef9a9a 100%);
  }

  .sidenav-inactive {
    height: 117px;
    width: 232px;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 #D4D4D4;
  }

  .sidenav-button {
    height: 34px;
    width: 232px;
    border-radius: 4px;
    background: linear-gradient(0deg, #ef9a9a 0%, #ef9a9a 100%);
  }

  .sidenav-text {
    height: 44px;
    width: 193px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-shadow: 1px 1px 1px 0 #ef9a9a;
  }

  .hdr-title {
    font-family: 'DaxBold', sans-serif;
    font-weight: bolder;
    font-size: 54px;
    color: #F00000;
    line-height: 45px;
    /*text-align: center;*/
  }

  .hdr-h1 {
    font-family: 'DaxBold', sans-serif;
    font-weight: bolder;
    font-size: 36px;
    color: #F00000;
    line-height: 45px;
    padding-top: 22px;
    /*text-align: center;*/
  }

  .hdr-h1-blk {
    font-family: 'DaxBold', sans-serif;
    font-weight: bolder;
    font-size: 44px;
    color: #2B2B2B;
    line-height: 45px;
    padding-top: 22px;
    /*text-align: center;*/
  }

  .hdr-h2 {
    font-family: 'DaxBold', sans-serif;
    font-weight: bolder;
    font-size: 26px;
  }

  .hdr-h3 {
    font-family: 'DaxBold', sans-serif;
    font-weight: bolder;
    font-size: 26px;
    margin-bottom: 5px;
  }

  .hdr-h4 {
    font-family: 'DaxLight', sans-serif;
    font-weight: 900;
    font-size: 22px;
  }
  /*clickshare illustrations in the side menu*/
  .illu-clickshare {
    height: 135.21px;
    width: 192px;
    opacity: 0.75;
  }

  .red2 {
    border: solid 2px #F00000;
    color: #F00000;
    background-color: #ffffff;
    border-radius: 5px;
  }

  .cs-img {
    text-align: center;
    img {
      margin-left: -4%;
    }
  }

  .btn-space {
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .modal-btn-space {
    margin-bottom: 20px;
  }

  .vid {
    border: solid 2px #999999;
  }

  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    /* overlay fadeout */
    animation: fadeout 0.5s 1;
    -webkit-animation: fadeout 0.5s 1;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
  @-webkit-keyframes fadeout {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  .img-cntr {
    width: 37%;
    opacity: 0.5;
  }

  p {
    font-family: 'DaxLight', sans-serif;
    font-size: 14px;
  }
}
