/* master css */

.success{
  height: 400px;
}
.success, form#get-quote .btn-goback {
  display: none;
}
.success h2{
  font-size: 48px;
  font-family: 'DaxBold';
  color: #252525;
}
.success p{
  font-size: 18px;
}
.success .btn-next{
  width: 200px;
  margin-top: 50px;
  font-family: 'DaxRegular';
  font-size: 15px;
}
.rwd-break{
  display: none;
}
.btn-next{
  font-family: 'DaxMedium';
}
.hdr-p{
  font-family: 'DaxLight', sans-serif;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
}
.main label{
  font-family: 'DaxMedium';
  font-size: 14px;
}
.sliderText{
  font-family: 'DaxMedium';
  font-size: 14px;
}
.text-center {
  font-family: 'DaxLight', sans-serif;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
}
.product-card img {
  width: auto;
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: auto;

}
.btn-hdr .btn-get {
  margin-left: 90px;
  font-family: 'DaxRegular';
  text-transform: none;
  padding: 5px;
}
.btn-back {
  width: 180px;
  height: 42px;
  margin-right: 5px;
  border: solid 2px #F00000 !important;
  color: #F00000;
  background-color: #ffffff;
  border-radius: 5px;
  text-transform: none;
  font-family: 'DaxRegular';
}
.btn-product {
  width: 180px;
}
.bold {
  font-family: 'DaxBold';
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 12px;
}
.btn-menu {
  width: 170px;
  height: 48px;
  background-color: #F00000;
  border-radius: 5px !important;
  color: #FFF;
  font-size: 22px;
  font-family: 'DaxRegular';
  text-transform: none;
  text-shadow: 1px 1px #777777;
  vertical-align: middle;
}
.btn-next {
  border-radius: 5px !important;
}
nav.white .nav-wrapper ul a.btn {
  margin-right: 15px;
  margin-bottom: 15px !important;
  padding: 0 15px 0 15px;
  font-size: 15px;
  font-family: 'DaxLight';
}
.select-device .btn-products a{
  font-family: 'DaxMedium';
  font-size: 14px;
}
.hdr-device {
  font-family: 'DaxMedium';
  font-size: 18px;
}
.indicators-label ul {
  display: inline-block;
  list-style-type: none;
  font-family: 'DaxRegular';
  font-size: 12px;
}
.sliders .mobile .ui-slider {
  margin-bottom: 1px;
}
form#get-quote input, form#get-quote select {
  border-radius: 0;
}
p.form-instruct {
  text-align: center;
  font-size: 13px !important; 
}

main h2 {
  font-family: 'DaxMedium';
  font-size: 2.3rem;
}
main h3 {
  font-family: 'DaxMedium';
  font-size: 2.3rem;
}
