/* products css */
a {
  color: #F4001A;
  text-decoration: none;
}

.product-card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    /* border-radius: .25rem; */
  }
.hdr-h2 {
  line-height: 28px;
  margin-bottom: 5px;
}  
.card-img-top {
  width: 75%;
}
.btn-products {
  margin-bottom: 7px;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
