.clear:before, .clear:after {
  content: ' ';
  display: table;
}

.clear {
  *zoom: 1;
}
.clear:after {
  clear: both;
}

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
}

body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  background: #fff;
  color: #444;
}

.logo {
  margin: -100px 0 0 -84px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.nav ul {
  list-style: none;
}

/* BARCO ClickShare master styles */
/* GLOBAL */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DaxRegular', sans-serif;
  background-color: #F5F5F5;
}

/* html {
  box-sizing: border-box;
} */
/* FONTS */
@font-face {
  font-family: 'DaxItalic';
  src: url("../fonts/dax/dxit____-webfont.woff");
}
@font-face {
  font-family: 'DaxLight';
  src: url("../fonts/dax/dxlt____-webfont.woff");
}
@font-face {
  font-family: 'DaxRegular';
  src: url("../fonts/dax/dxrg____-webfont.woff");
}
@font-face {
  font-family: 'DaxMedium';
  src: url("../fonts/dax/dxmd____-webfont.woff");
}
@font-face {
  font-family: 'DaxBold';
  src: url("../fonts/dax/dxbd____-webfont.woff");
}
@font-face {
  font-family: 'DaxBlack';
  src: url("../fonts/dax/dxbk____-webfont.woff");
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}
/* */
.container {
  width: 100%;
  height: 100%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-top img {
  padding-left: 170px;
  width: 108px;
}

.logo-corner {
  top: 0;
  left: 0;
}

nav {
  display: block;
}

nav .nav-wrapper {
  position: relative;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
  margin: 0;
}

nav ul li {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  float: left;
  padding: 0;
}

nav ul li.active {
  background-color: rgba(0, 0, 0, 0.1);
}

nav ul a {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-size: 1rem;
  color: #FFFFFF;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

nav ul a.btn,
nav ul a.btn-flat,
nav ul a.btn-floating,
nav ul a.btn-large,
nav ul a.btn-large {
  margin-top: -2px;
  /* margin-left: 75px; */
  margin-right: 72px;
}

nav ul a.btn > .material-icons,
nav ul a.btn-flat > .material-icons,
nav ul a.btn-floating > .material-icons,
nav ul a.btn-large > .material-icons,
nav ul a.btn-large > .material-icons {
  height: inherit;
  line-height: inherit;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-wrapper h2 {
  font-family: 'DaxLight', sans-serif;
  color: #999999;
  padding: 25px 0 0 163px;
}

.nav-title {
  font-size: 24px;
}

.asterisk {
  font-family: sans-serif;
}

.black {
  background-color: #000 !important;
}

.black-text {
  color: #000 !important;
}

.white {
  background-color: #fff !important;
}

.white-text {
  color: #fff !important;
}

.transparent {
  background-color: transparent !important;
}

.transparent-text {
  color: transparent !important;
}

.right {
  float: right !important;
}

.hdr-dsktop-title {
  font-family: 'DaxBold', sans-serif;
  font-weight: bolder;
  font-size: 48px;
  color: #F00000;
  text-align: center;
}

.hdr-success-title {
  font-family: 'DaxBold', sans-serif;
  font-weight: bolder;
  font-size: 48px;
  color: #000000;
  line-height: 45px;
  text-align: center;
}

.hdr-h1 {
  font-family: 'DaxBold', sans-serif;
  font-weight: bolder;
  font-size: 36px;
  color: #F00000;
  line-height: 45px;
  padding-top: 22px;
  text-align: center;
}

.hdr-h2 {
  font-family: 'DaxBold', sans-serif;
  font-weight: bolder;
  font-size: 28px;
  text-align: center;
}

.hdr-h3 {
  margin-top: -8px;
  font-family: 'DaxRegular', sans-serif;
  /* font-weight: bold; */
  font-size: 18px;
  text-align: center;
  margin-bottom: 7px;
}

.hdr-h4 {
  padding-top: 15px;
  /*padding-bottom: 200px;*/
  font-family: 'DaxLight', sans-serif;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
}

.btn-hdr {
  margin-bottom: 20px;
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

ul:not(.browser-default) > li {
  list-style-type: none;
}

.btn,
.btn-flat,
.btn-large {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn,
.btn-flat,
.btn-floating,
.btn-large,
.btn-large {
  font-size: 1rem;
  outline: 0;
}

.btn,
.btn-large {
  text-decoration: none;
  color: #F10019;
  background-color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
}

.btn-large:hover,
.btn:hover {
  background-color: #F10019;
  color: #FFFFFF;
}

.btn-product {
  height: 42px;
  width: 230px;
  color: #FFFFFF;
  font-family: 'DaxRegular', sans-serif;
  font-size: 15px;
  line-height: 42px;
  text-align: center;
  text-shadow: 1px 1px 1px 0 #BD0000;
  border-radius: 4px;
  background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
  text-transform: none;
}

.btn-product-outline {
  height: 42px;
  width: 230px;
  padding-bottom: 10px;
  font-family: 'DaxRegular', sans-serif;
  font-size: 15px;
  line-height: 42px;
  text-align: center;
  text-shadow: 1px 1px 1px 0 #BD0000;
  border: solid 2px #F10019;
  color: #F10019;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-transform: none;
}

.red2 {
  width: 175px;
  /* height: 41px; */
  border: solid 2px #F10019;
  color: #F10019;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-transform: none;
}

.main {
  /* background-color: #F5F5F5; */
  /* width: 980px;
  height: 800px;
  position: absolute; */
  margin: 0 auto;
  /* right: 0;
  left: 0; */
  /* background-image: url('../../assets/img/illus-pie-chart-gray-desktop.png'); */
  /* background-position: 0 500px; */
}

.main-content {
  /* width: 660px; /*can be in percentage also.*/
  /* height: 900px; */
  margin: 0 auto;
  position: relative;
  /* margin-top: 50px; */
  font-family: DaxMedium, sans-serif;
}

.main-row {
  padding-top: 30px;
}

.menu {
  padding: 20px;
}

.block {
  margin-left: 5px;
  margin-bottom: 7px;
}

.btn-get {
  margin-top: 25px;
  margin-right: 15px;
}

.text-overlay {
  /* position: relative; */
}

.text-overlay h3 {
  font-family: 'DaxMedium', sans-serif;
  position: absolute;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 36px;
  text-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  bottom: 0;
}

.text-overlay h4 {
  font-family: 'DaxMedium', sans-serif;
  position: absolute;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  text-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  bottom: 0;
}

.text-overlay span {
  position: relative;
}

.btn-space {
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-next {
  height: 42px;
  width: 230px;
  color: #FFFFFF;
  font-family: 'DaxMedium', sans-serif;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  text-shadow: 1px 1px 1px 0 #BD0000;
  border-radius: 4px;
  background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
  text-transform: none;
}

.rectangle-3 {
  /* height: 44px; */
  width: 160px;
  border-radius: 4px;
  background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
  color: #FFFFFF;
  font-size: 14px;
}

.rectangle-3 a:visited {
  color: #FFFFFF;
}

.rectangle-3 a:active {
  color: #FFFFFF;
}

.img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.video-thumbs {
  margin: auto;
  width: 570px;
}

.sub-text {
  font-family: 'DaxLight', sans-serif;
}

.product-list li {
  display: block;
  text-align: left;
  margin-left: 25px;
}

.product-list li:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  font-size: 18px;
  float: left;
  margin-left: 0;
  margin-right: 10px;
  color: #00E77D;
  position: absolute;
  left: 0;
}

.product-col {
  width: 30%;
  height: 700px;
  margin-right: 25px;
}

.footer {
  background-color: #F5F5F5;
}

.footer .swoop > img {
  margin-bottom: -2px;
  width: 100%;
  display: block;
  z-index: 2;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1024px) {
  .hide-on-med-and-down {
    display: none !important;
  }

  /* css */
  * {
    margin: 0;
    padding: 0;
  }

  /* clear margin and padding */
  body {
    font-family: 'DaxMedium', sans-serif;
    background-color: #F5F5F5;
  }

  /* fonts */
  @font-face {
    font-family: 'DaxItalic';
    src: url("../fonts/dax/dxit____-webfont.woff");
  }
  @font-face {
    font-family: 'DaxLight';
    src: url("../fonts/dax/dxlt____-webfont.woff");
  }
  @font-face {
    font-family: 'DaxRegular';
    src: url("../fonts/dax/dxrg____-webfont.woff");
  }
  @font-face {
    font-family: 'DaxMedium';
    src: url("../fonts/dax/dxmd____-webfont.woff");
  }
  @font-face {
    font-family: 'DaxBold';
    src: url("../fonts/dax/dxbd____-webfont.woff");
  }
  @font-face {
    font-family: 'DaxBlack';
    src: url("../fonts/dax/dxbk____-webfont.woff");
  }
  /* .wrapper {
  padding: 25px 50px 25px 50px;
} */
  /* .wrapper img{
  background-image: url(../images/pie.jpg), url(../images/money04.jpg);
  background-repeat: no-repeat;
  background-position: left bottom, top right;
  background-size: 70%, 70%;
  opacity: 0.20;
} */
  /* navigation */
  nav {
    height: 72px;
  }

  .navbar-brand {
    position: fixed;
    padding: 0;
  }

  .navbar-brand > img {
    position: fixed;
    top: 0;
    left: 0;
    height: 72px;
    width: auto;
  }

  .dynamic-content {
    height: 700px;
    width: 100%;
    border: solid 2px #000;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .fixed-top img {
    padding-left: 170px;
    width: 108px;
  }

  .rectangle-2 {
    /* height: 44px; */
    width: 160px;
    border: solid 1px #F00000;
    border-radius: 4px;
    background: #FFFFFF;
    color: #F00000;
    font-size: 14px;
  }

  .rectangle-3 {
    /* height: 44px; */
    width: 160px;
    border-radius: 4px;
    background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
    color: #FFFFFF;
    font-size: 14px;
  }

  .rectangle-3 a:visited {
    color: #FFFFFF;
  }

  .rectangle-3 a:active {
    color: #FFFFFF;
  }

  .rectangle-3a {
    /* height: 41px; */
    width: 229px;
    border: 1.5px solid #F00000;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #F00000;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    text-shadow: 1px 1px 1px 0 #BD0000;
  }

  .modal-btn {
    width: 200px;
    border-radius: 4px;
    background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
    color: #FFFFFF;
    font-size: 16px;
  }

  section {
    padding-top: 25px;
  }

  #intro {
    padding-top: 75px;
  }

  .click-share-home-priv {
    height: 41px;
    width: 463px;
    color: #8D8D8D;
    font-size: 18px;
    line-height: 20px;
  }

  .mask {
    height: 201px;
    width: 357px;
    background-color: #FEE000;
  }

  .sidenav-active {
    height: 117px;
    width: 232px;
    border-radius: 4px;
    color: #fff;
    background: linear-gradient(0deg, #ef9a9a 0%, #ef9a9a 100%);
  }

  .sidenav-inactive {
    height: 117px;
    width: 232px;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 #D4D4D4;
  }

  .sidenav-button {
    height: 34px;
    width: 232px;
    border-radius: 4px;
    background: linear-gradient(0deg, #ef9a9a 0%, #ef9a9a 100%);
  }

  .sidenav-text {
    height: 44px;
    width: 193px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-shadow: 1px 1px 1px 0 #ef9a9a;
  }

  .hdr-title {
    font-family: 'DaxBold', sans-serif;
    font-weight: bolder;
    font-size: 54px;
    color: #F00000;
    line-height: 45px;
    /*text-align: center;*/
  }

  .hdr-h1 {
    font-family: 'DaxBold', sans-serif;
    font-weight: bolder;
    font-size: 36px;
    color: #F00000;
    line-height: 45px;
    padding-top: 22px;
    /*text-align: center;*/
  }

  .hdr-h1-blk {
    font-family: 'DaxBold', sans-serif;
    font-weight: bolder;
    font-size: 44px;
    color: #2B2B2B;
    line-height: 45px;
    padding-top: 22px;
    /*text-align: center;*/
  }

  .hdr-h2 {
    font-family: 'DaxBold', sans-serif;
    font-weight: bolder;
    font-size: 26px;
  }

  .hdr-h3 {
    font-family: 'DaxBold', sans-serif;
    font-weight: bolder;
    font-size: 26px;
    margin-bottom: 5px;
  }

  .hdr-h4 {
    font-family: 'DaxLight', sans-serif;
    font-weight: 900;
    font-size: 22px;
  }

  /*clickshare illustrations in the side menu*/
  .illu-clickshare {
    height: 135.21px;
    width: 192px;
    opacity: 0.75;
  }

  .red2 {
    border: solid 2px #F00000;
    color: #F00000;
    background-color: #ffffff;
    border-radius: 5px;
  }

  .cs-img {
    text-align: center;
  }
  .cs-img img {
    margin-left: -4%;
  }

  .btn-space {
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .modal-btn-space {
    margin-bottom: 20px;
  }

  .vid {
    border: solid 2px #999999;
  }

  #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    /* overlay fadeout */
    animation: fadeout 0.5s 1;
    -webkit-animation: fadeout 0.5s 1;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
  }

  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-webkit-keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .img-cntr {
    width: 37%;
    opacity: 0.5;
  }

  p {
    font-family: 'DaxLight', sans-serif;
    font-size: 14px;
  }
}
@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

@media only screen and (min-width: 768px) {
  .rwd-break {
    display: none;
  }
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  background-position: 100% 88%;
  background-repeat: no-repeat, no-repeat;
  background-color: #F5F5F5 !important;
}

nav.white {
  position: fixed;
  max-height: 72px;
  height: 72px;
  width: 100%;
  z-index: 12;
  top: 0;
}
nav.white .nav-wrapper {
  margin-bottom: 0;
  max-height: 72px;
  max-width: 1280px;
  margin: 0 auto;
}
nav.white .nav-wrapper .logo-corner {
  max-height: 72px;
  overflow: hidden;
  display: inline-block;
  float: left;
}
nav.white .nav-wrapper .nav-title {
  font-family: 'DaxLight', sans-serif;
  color: #999999;
  padding: 0 0 0 25px;
  display: inline-block;
  float: left;
  margin-top: 19px;
}
nav.white .nav-wrapper .btn-get {
  font-size: 16px;
  position: relative;
  width: 232px;
  line-height: 33px;
  top: 20px;
}

.desktop-nav {
  text-align: right;
}
.desktop-nav ul li {
  width: 232px;
  height: 117px;
  color: black;
  text-align: center;
  font-size: 19px;
  font-family: 'DaxRegular', arial;
  margin-bottom: 10px;
  margin-left: 58px;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 3px;
  overflow: hidden;
}
.desktop-nav ul li a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  height: 116px;
  padding-top: 85px;
  position: absolute;
  z-index: 1;
}
.desktop-nav ul li:hover a, .desktop-nav ul li.current a {
  color: white;
}
.desktop-nav ul li:hover::after, .desktop-nav ul li.current::after {
  content: '';
  width: 100%;
  height: 34px;
  bottom: 0px;
  display: block;
  position: absolute;
  background-color: #2a97ef;
}
.desktop-nav ul li.btn-share-instantly {
  background: transparent url("/assets/img/btn-share-instantly-blank.png") no-repeat;
}
.desktop-nav ul li.btn-save-space {
  background: transparent url("/assets/img/btn-save-space-blank.png") no-repeat;
}
.desktop-nav ul li.btn-save-money {
  background: transparent url("/assets/img/btn-save-money-blank.png") no-repeat;
}
.desktop-nav ul li.btn-see-solutions {
  background: transparent url("/assets/img/btn-explore-products-blank.png") no-repeat;
}

#animation_container {
  background-color: transparent !important;
  margin: 0 auto;
  position: relative;
}
#animation_container #canvas {
  background-color: transparent !important;
}
#animation_container #dom_overlay_container {
  font-family: 'DaxBold';
  font-size: 77px;
  color: white;
  text-align: center;
}
#animation_container #dom_overlay_container .connect, #animation_container #dom_overlay_container .click, #animation_container #dom_overlay_container .share {
  display: none;
  position: absolute;
  width: 100%;
}
#animation_container #dom_overlay_container .connect {
  top: 22.5%;
  left: 1.5%;
}
#animation_container #dom_overlay_container .click {
  top: 76.5%;
  left: 2.5%;
}
#animation_container #dom_overlay_container .share {
  top: 70%;
}
#animation_container #dom_overlay_container .animation-text-target {
  font-family: 'DaxRegular';
  font-size: 24px;
  color: black;
  position: absolute;
  bottom: 7.1%;
  width: 100%;
  display: none;
  color: black;
}
#animation_container #dom_overlay_container .animation-text-target.final-text {
  bottom: 10px;
}
#animation_container #dom_overlay_container .animation-button-target {
  display: none;
  width: 100%;
  color: white;
  font-size: 20px;
  bottom: 8%;
  position: absolute;
}
#animation_container #dom_overlay_container .animation-button-target a {
  color: white;
  text-decoration: none;
  font-family: 'DaxMedium';
  font-size: 1.9rem;
  line-height: 2.2;
}

.share-instantly #animation_container {
  margin: -20px auto 0;
}

div.container-fluid {
  max-width: 1280px;
  margin: 100px auto 0;
}

ul.product-list {
  margin-top: 12px;
}

ul.product-list > li {
  clear: both;
  font-size: 18px;
  margin-top: 10px;
  line-height: 22px;
}

.asterisk {
  font-family: sans-serif;
}

button.navbar-toggler {
  display: none;
}

.modal {
  display: none;
}

.product-list li:before {
  margin-left: 0;
}

.productSet {
  margin: 30px auto 0;
}
.productSet .col-lg-4 {
  width: 33%;
}
.productSet .btn-products {
  margin: 15px auto;
  width: 100%;
}
.productSet .btn-products .btn-product {
  margin: 2px auto;
  display: block;
  width: 100%;
}
.productSet .btn-products span {
  margin-bottom: 12px;
  display: block;
  font-size: 15px;
}

img.card-img-top {
  max-height: 150px;
  display: block;
  margin: 0 auto;
}

.card-text {
  min-height: 285px;
  position: relative;
}
.card-text .hdr-h2 {
  margin: 15px 0;
}
.card-text hr.drop {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-top: 15px;
  margin-bottom: 18px;
}

img.pagination {
  margin: 25px auto 0 !important;
}

.save-money-cta {
  margin-bottom: 100px;
  font-size: 22px;
}
.save-money-cta .text-center {
  font-size: 22px;
  font-family: "DaxMedium";
}
.save-money-cta span {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #FFF;
}

/* SAVE SPACE */
.slider-label {
  font-size: 20px;
  color: white;
  position: absolute;
  white-space: nowrap;
  top: 25px;
  right: 100px;
}

.cd-resize-img .slider-label {
  left: 100px;
  right: auto;
}

.save-space-cta {
  margin-top: -135px;
  margin-bottom: 100px;
  font-size: 22px;
}
.save-space-cta .text-center {
  font-size: 22px;
  font-family: "DaxMedium";
}
.save-space-cta span {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #FFF;
}

/* SAVE MONEY */
.sliders .types {
  display: inline-block;
  padding: 30px 20px 8px 20px;
  overflow: hidden;
}

.sliders .container {
  height: 250px;
  width: 250px;
}

.sliders .container > div {
  float: left;
}

.sliders .control {
  margin-right: 20px;
}

.sliders .mobile {
  display: none;
}

.rs-bg-color {
  background-color: #F5F5F5;
}

.currency {
  text-align: right;
  padding: .5em 2.5em;
}
.currency input {
  margin-left: 5px;
}
.currency input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #FFF;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.currency input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #F00000;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.currency.currency-mobile {
  display: none;
}

.sliderText {
  font-size: 22px;
  text-align: center;
  line-height: 1em;
}
.sliderText div {
  display: inline-block;
  float: left;
  font-family: 'DaxMedium';
}
.sliderText div .ui-widget.ui-widget-content {
  width: 40px;
}
.sliderText .ui-selectmenu-button.ui-button {
  font-size: 60px;
  width: auto;
  padding: 2px 5px 2px 10px;
  border: 4px solid red;
  border-radius: 6px;
  font-family: 'DaxBold';
  background-color: transparent;
}
.sliderText .ui-selectmenu-text {
  line-height: 60px;
}
.sliderText .ui-button .ui-icon {
  background-image: url("../img/select-triangle.png") !important;
  background-position: center;
  background-size: contain;
  min-height: 50px;
}
.sliderText .label {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.sliderText .meetings {
  width: 27%;
}
.sliderText .meetings #meetings-button {
  min-width: 111px;
  text-align: center;
}
.sliderText .meetings .label {
  width: 47%;
}
.sliderText .years {
  width: 28%;
}
.sliderText .years #years-button {
  min-width: 111px;
  text-align: center;
}
.sliderText .years .label {
  width: 50%;
}
.sliderText .equals {
  font-size: 60px;
  vertical-align: middle;
}
.sliderText .projected-total {
  width: 45%;
}
.sliderText .projected-total .label {
  width: 97px;
  vertical-align: baseline;
  text-align: center;
}

.ui-menu .ui-menu-item-wrapper {
  text-align: center;
  font-size: 22px;
}
.ui-menu .ui-menu-item-wrapper.ui-state-active {
  background-color: red;
  border: 1px solid red;
}

#calculationValue {
  text-align: center;
  border: 4px solid red;
  border-radius: 6px;
  position: relative;
  top: 0;
  font-size: 55px;
  line-height: 60px;
  padding: 0 5px;
  font-family: 'DaxBold';
  background-color: transparent;
  color: #000;
}

input:disabled {
  color: #000;
  -webkit-text-fill-color: #000;
}

.text-center {
  clear: both;
  padding-top: 20px;
}

.col-9 {
  text-align: center;
}

.full .rs-tooltip {
  top: 48%;
}

.rs-tooltip-text {
  font-size: 60px;
  margin-left: -125px;
  font-weight: bold;
  font-family: DaxMedium;
}

.salary .rs-tooltip-text {
  margin-left: -100px;
}

.rs-tooltip-text div {
  font-size: 22px;
  margin-top: -15px;
  line-height: 22px;
  font-weight: normal;
}

.rs-start, .rs-end {
  display: none;
}

.sliderText input {
  border: 4px solid red;
  border-radius: 6px;
  position: relative;
  top: 0;
  font-size: 60px;
  padding: 5px;
  font-family: 'DaxBold';
}

.sliderText input, .sliderText select {
  border: 4px solid red;
  border-radius: 3px;
  position: relative;
  top: 0;
  font-size: 60px;
  padding: 5px;
  font-family: 'DaxBold';
}

/* GET A QUOTE */
p.form-instruct {
  font-size: 18px;
}

.row.white {
  padding: 27px 0 30px 30px;
  margin-right: 22px;
}

.unitTeaser {
  padding-right: 0;
}
.unitTeaser .selected-product-header {
  font-size: 18px;
  font-family: DaxBold;
  margin-bottom: 10px;
}
.unitTeaser .product-card {
  display: none;
}
.unitTeaser .product-card img.card-img-top {
  max-height: 100%;
}
.unitTeaser .product-card .card-text {
  min-height: 220px;
}

.get-form {
  width: 100%;
}
.get-form .get-a-quote-success {
  display: none;
  color: #F00000;
  font-size: 1.3em;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}
.get-form .get-a-quote-success .btn-next {
  margin-top: 50px;
}
.get-form form.mktoForm {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.get-form form.mktoForm .mktoLabel[for="preferenceCenterOptIn"] {
  float: right;
  width: 80% !important;
}
.get-form form.mktoForm .mktoCheckboxList {
  width: auto !important;
}
.get-form form.mktoForm .mktoCheckboxList #preferenceCenterOptIn {
  margin-top: 8px;
}
.get-form form.mktoForm .mktoButtonRow .mktoButtonWrap {
  display: block;
  text-align: center;
}
.get-form form.mktoForm .mktoButtonRow button[type="submit"] {
  margin-top: 12px;
  background: linear-gradient(#f00000 0%, #d70000 100%);
  text-shadow: 1px 1px 1px #bd0000;
  border: none;
  box-shadow: 0 2px 0 -2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 10px 25px;
  text-align: center;
}
.get-form form.mktoForm .mktoButtonRow button[type="submit"]:hover {
  border: none !important;
}
.get-form form.mktoForm .mktoButtonRow button[type="submit"]:active {
  background: linear-gradient(#f00000 0%, #d70000 100%);
}

form#get-quote {
  text-align: center;
  margin: 0 40px;
}
form#get-quote input, form#get-quote select {
  height: 40px;
  border: 1px solid #999999;
  background-color: #FFFFFF;
  box-shadow: inset 0 0 10px 0 #E5E5E5;
  font-size: 13px;
  line-height: 15px;
  padding: 12px 8px;
  color: black;
  width: 100%;
  margin-bottom: 10px;
  font-family: 'DaxRegular';
}
form#get-quote input::placeholder, form#get-quote select::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(51, 51, 51, 0.25);
  opacity: 1;
  /* Firefox */
}
form#get-quote input:-ms-input-placeholder, form#get-quote select:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(51, 51, 51, 0.25);
}
form#get-quote input::-ms-input-placeholder, form#get-quote select::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(51, 51, 51, 0.25);
}
form#get-quote input.half, form#get-quote select.half {
  width: 47%;
}
form#get-quote input.half.no-unitTeaser, form#get-quote select.half.no-unitTeaser {
  width: 48%;
}
form#get-quote .row {
  margin: 0;
}
form#get-quote label {
  width: 100%;
  text-align: left;
  display: block;
}
form#get-quote .btn-submit {
  font-size: 15px;
  margin-top: 10px;
  width: 200px;
  font-family: DaxRegular;
}
form#get-quote .btn-goback {
  display: none;
}

.success {
  display: none;
  text-align: center;
  width: 100%;
}

.error {
  display: block;
  color: #F10019;
}

/* FOOTER */
.footer {
  background-color: #F5F5F5;
}
.footer .swoop {
  max-height: 175px;
}
.footer .footerContent {
  background-color: #FFFFFF;
  padding-bottom: 50px;
  margin-top: -80px;
}
.footer .footerContent .footer-nav a {
  color: #F4001A;
  text-decoration: none;
  font-size: 18px;
}
.footer .footerContent .row {
  max-width: 1280px;
  margin: 0 auto;
  background-color: white;
}
.footer .footerContent .row .col-6 div {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  line-height: 18px;
}
.footer .footerContent .row .col-6 div ul {
  margin-bottom: 20px;
}
.footer .footerContent .row .col-6 img.mobile-awards {
  display: none;
}
.footer .footerContent .row .col-6 .float-right {
  float: right;
  margin-right: 50px;
}

@media screen and (max-width: 1024px) {
  body {
    background-position: left top;
    background-repeat: no-repeat, no-repeat;
  }
  body.calculator {
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    padding-bottom: 0;
  }
  body.clickshare-home {
    background-position: left 50%, right 10%;
    background-repeat: no-repeat, no-repeat;
    padding-bottom: 0;
  }
  body.clickshare-home nav.white {
    z-index: -1;
  }
  body.shareinstantly {
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    padding-bottom: 0;
  }
  body.shareinstantly footer {
    padding-top: 0;
    margin-top: -40px;
  }
  body.save-space .container-fluid.main .main-row {
    padding-top: 0;
  }
  body .btn {
    font-size: 1.9rem;
    line-height: 2.2;
  }

  .logo-corner {
    width: 100px;
  }

  .modal {
    padding-left: 10% !important;
    font-family: DaxRegular;
  }
  .modal .modal-btn {
    font-size: 1.8rem;
  }
  .modal .modal-title {
    max-width: 290px;
    text-align: center;
    padding-left: 0;
  }

  #animation_container #dom_overlay_container {
    font-size: 65px;
  }
  #animation_container #dom_overlay_container .connect {
    top: 30%;
    left: -1%;
  }
  #animation_container #dom_overlay_container .click {
    top: 83%;
    left: -1%;
  }
  #animation_container #dom_overlay_container .share {
    top: 70.5%;
  }
  #animation_container #dom_overlay_container .animation-text-target {
    font-size: 22px;
    color: black;
    position: absolute;
    bottom: 12%;
    left: 1%;
  }
  #animation_container #dom_overlay_container .animation-text-target.final-text {
    bottom: 5%;
  }
  #animation_container #dom_overlay_container .animation-button-target {
    bottom: 12%;
  }

  nav.white {
    height: 66px;
  }
  nav.white .nav-wrapper {
    margin-bottom: 0;
    position: fixed;
    left: 0;
    height: 66px;
    background: white;
    width: 100%;
  }
  nav.white .nav-wrapper div.nav-title {
    display: none;
  }
  nav.white .nav-wrapper ul {
    margin-top: 18px;
  }
  nav.white .nav-wrapper ul a.btn {
    margin-bottom: 0;
    color: #F00000;
    background-color: transparent;
    background-image: none;
    font-size: 12px;
    border: 1.5px solid #F00000;
    border-radius: .25rem;
    width: auto;
    padding: 0 .75rem;
  }
  nav.white .nav-wrapper ul button.navbar-toggler {
    display: block;
    margin-top: -10px;
  }
  nav.white .nav-wrapper ul .btn-get {
    font-size: 16px;
    position: relative;
    line-height: 30px;
    top: 0;
    margin-right: 0;
    width: 55px;
    margin-top: 0;
  }

  .container {
    padding: 0 !important;
  }
  .container .container-fluid.main {
    padding: 25px 0 0 0;
    margin: 60px auto 0;
  }
  .container .container-fluid.main div.row > div {
    width: 100%;
  }
  .container .container-fluid.main .hdr-dsktop-title, .container .container-fluid.main .hdr-h4 {
    padding: 0 1em;
  }
  .container .container-fluid.main .hdr-dsktop-title {
    font-size: 28px;
  }
  .container .container-fluid.main .hdr-h4 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .container .container-fluid.main .hdr-p {
    text-align: center;
    font-size: 22px;
  }
  .container .cs-img {
    max-width: 250px;
    margin: 0 auto;
  }
  .container .cs-img img {
    width: 100%;
  }
  .container .alternate-logo-click {
    background: transparent;
    width: 100px;
    height: 66px;
    display: block;
    position: fixed;
    top: 0;
  }

  .slider-label {
    right: 77px;
  }

  .cd-resize-img .slider-label {
    right: auto;
  }

  .sliders .types {
    display: none;
  }
  .sliders .mobile {
    display: block;
    text-align: center;
    font-size: 14px;
    width: 85%;
    margin: 0 auto;
  }
  .sliders .mobile .rwd-break {
    display: none;
    line-height: 1.5em;
  }
  .sliders .mobile .ui-slider {
    background-color: #DDD;
    height: 25px;
    border-radius: 12.5px;
  }
  .sliders .mobile .ui-slider .ui-slider-handle {
    background: white;
    height: 35px;
    width: 35px;
    border: 1px solid #CCC;
    border-radius: 20px;
    text-indent: -40px;
    color: white;
    font-size: 18px;
    line-height: 34px;
  }
  .sliders .mobile .ui-slider .ui-slider-handle.righty {
    text-indent: 40px !important;
    color: red;
  }
  .sliders .mobile .ui-slider .ui-slider-range {
    background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
    height: 25px;
    border: none;
    border-radius: 12.5px 0 0 12.5px;
  }
  .sliders .mobile input[type="range"] {
    -webkit-appearance: none;
    background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
    border-radius: 12px;
    height: 24px;
    width: 90%;
    margin: 0 auto 20px;
  }
  .sliders .mobile input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border: 1px solid grey;
    border-radius: 15px;
    cursor: pointer;
  }
  .sliders .mobile input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  .sliders .mobile #custom-handle-time {
    text-indent: -30px;
  }
  .sliders .mobile #custom-handle-salary {
    text-indent: -60px;
  }
  .sliders .mobile #custom-handle-attendees {
    text-indent: -30px;
  }

  .currency {
    padding-top: 40px;
  }
  .currency.currency-mobile {
    display: block;
    text-align: center;
  }
  .currency.currency-mobile input {
    margin-left: 10px;
  }
  .currency.currency-desk {
    display: none;
  }

  .sliderText {
    font-size: 14px;
    text-align: center;
    padding: .5em 2.5em;
  }
  .sliderText div {
    display: inline-block;
    float: left;
    font-family: 'DaxMedium';
  }
  .sliderText .ui-selectmenu-button.ui-button {
    font-size: 20px;
    width: auto;
    padding: 2px 5px 2px 10px;
    border: 4px solid red;
    border-radius: 6px;
    font-family: 'DaxBold';
    background-color: transparent;
  }
  .sliderText .ui-button .ui-icon {
    min-height: 38px;
  }
  .sliderText .label {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .sliderText .meetings {
    width: 47%;
  }
  .sliderText .meetings #meetings-button {
    min-width: 52px;
    text-align: center;
    height: 50px;
  }
  .sliderText .meetings .label {
    width: 50%;
  }
  .sliderText .years {
    width: 53%;
  }
  .sliderText .years #years-button {
    min-width: 52px;
    text-align: center;
    height: 50px;
  }
  .sliderText .years .label {
    width: 50%;
  }
  .sliderText .ui-selectmenu-text {
    line-height: 40px;
  }
  .sliderText .equals {
    font-size: 22px;
    vertical-align: middle;
  }
  .sliderText .projected-total {
    width: 100%;
    padding-top: 20px;
  }
  .sliderText .projected-total .label {
    width: 100px;
    vertical-align: baseline;
    text-align: center;
  }

  select {
    background-image: url("../img/select-triangle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 10%;
  }

  #calculationValue {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
  }

  .indicators-label ul {
    width: 100%;
  }
  .indicators-label ul li {
    display: inline-block;
    float: left;
    width: 11%;
  }

  .selectable {
    display: block;
  }
  .selectable.selected {
    border: 2px solid red;
  }

  .select-device .btn-products {
    width: 100%;
    text-align: center;
  }
  .select-device .btn-products a {
    color: red;
  }
  .select-device .product-card .card-img-top {
    width: 100%;
    margin-left: 0;
  }

  .card-text {
    min-height: 100px;
    position: relative;
    font-family: 'DaxRegular';
  }
  .card-text p {
    font-size: 12px;
    margin-bottom: 0;
  }
  .card-text .hdr-device {
    line-height: 18px;
  }
  .card-text hr.drop {
    position: relative;
    width: 100%;
  }
  .card-text ul.device-detail li {
    list-style-type: disc;
    color: black;
    display: list-item;
    margin-left: 1em;
  }
  .card-text .which-unit {
    font-size: 1.5rem;
    line-height: 3rem;
    height: auto;
  }

  .desktop-nav {
    display: none;
  }

  .main .row {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .hdr-dsktop-title {
    font-size: 36px;
  }

  .btn-products {
    width: 100%;
  }
  .btn-products a.btn {
    width: 45%;
  }

  .get-form {
    width: 95%;
    margin: 0 auto;
  }
  .get-form .form-instruct {
    font-size: 16px;
  }
  .get-form form#get-quote input.half {
    width: 45%;
  }
  .get-form button {
    display: block;
    margin: 0 auto;
  }
  .get-form .btn-goback {
    display: inline-block;
  }

  .footer {
    padding-top: 25px;
  }
  .footer .footerContent {
    margin-top: 0;
    padding-bottom: 15px;
  }
  .footer .footerContent .row .col-6 {
    width: 100%;
    min-width: 100%;
  }
  .footer .footerContent .row .col-6 div {
    position: relative;
    bottom: 0;
    font-size: 15px;
    line-height: 18px;
  }
  .footer .footerContent .row .col-6 div ul {
    margin-bottom: 20px;
  }
  .footer .footerContent .row .col-6 div ul li a {
    font-size: 15px;
  }
  .footer .footerContent .row .col-6 div .text-muted {
    display: block;
    font-family: DaxLight;
    margin-top: -30px;
  }
  .footer .footerContent .row .col-6 img.mobile-awards {
    display: block;
    margin-bottom: 15px;
  }
  .footer .footerContent .row .col-6 img.desk-awards {
    display: none;
  }
  .footer .footerContent .row .col-6 .float-right {
    float: none;
    margin-right: 0;
  }
  .footer .footerContent .row br {
    clear: both;
  }
}
/*  LANDSCAPE TABLET */
@media screen and (max-width: 1024px) and (min-width: 770px) {
  nav.white .nav-wrapper ul {
    margin-right: 10px;
  }

  body .btn {
    line-height: 2.4;
  }
  body .modal .btn {
    line-height: 2;
  }

  .sliders .types {
    display: inline-block;
  }
  .sliders .mobile {
    display: none;
  }
  .sliders .mobile .ui-slider {
    background-color: #DDD;
    height: 25px;
    border-radius: 12.5px;
  }

  .sliderText {
    font-size: 22px;
    text-align: center;
    line-height: 1em;
  }
  .sliderText input, .sliderText select {
    font-size: 45px !important;
    display: inline-block;
  }
  .sliderText div {
    display: inline-block;
    float: left;
    font-family: 'DaxMedium';
  }
  .sliderText .ui-selectmenu-button.ui-button {
    font-size: 60px;
    width: auto;
    padding: 2px 5px 2px 10px;
    border: 4px solid red;
    border-radius: 6px;
    font-family: 'DaxBold';
    background-color: transparent;
  }
  .sliderText .ui-widget.ui-widget-content {
    width: 40px;
  }
  .sliderText .ui-selectmenu-text {
    line-height: 40px;
    font-size: 40px;
  }
  .sliderText .ui-button .ui-icon {
    background-image: url("../img/select-triangle.png");
    background-position: center;
    min-height: 50px;
  }
  .sliderText .ui-button:hover .ui-icon {
    background-image: url("../img/select-triangle.png");
  }
  .sliderText .label {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .sliderText .meetings {
    width: 30%;
    margin-top: 14px;
  }
  .sliderText .meetings #meetings-button {
    min-width: 111px;
    text-align: center;
  }
  .sliderText .meetings .label {
    width: 50%;
  }
  .sliderText .years {
    width: 30%;
    margin-top: 14px;
  }
  .sliderText .years #years-button {
    min-width: 111px;
    text-align: center;
  }
  .sliderText .years .label {
    width: 50%;
  }
  .sliderText .equals {
    font-size: 50px;
    vertical-align: middle;
  }
  .sliderText .projected-total {
    width: 40%;
    padding-top: 5px;
    color: black;
  }
  .sliderText .projected-total .label {
    width: 91px;
    vertical-align: baseline;
    text-align: center;
  }
  .sliderText .projected-total #calculationValue {
    margin: 0;
    display: inline-block;
  }
  .sliderText .projected-total input:disabled {
    color: #000;
  }
  .sliderText .select-device .btn-products {
    width: 100%;
    text-align: right;
  }

  .currency.currency-mobile {
    text-align: right;
    padding-right: 60px;
    margin-top: 29px;
  }

  select {
    background-size: 3%;
  }

  .select-device .product-card .card-img-top {
    width: auto;
    margin: 15px auto 0;
    max-height: 170px;
  }

  .slick-slide > div {
    text-align: center;
  }
  .slick-slide > div .product-card {
    width: 70% !important;
    margin: 0 auto;
  }
  .slick-slide > div .product-card .card-body {
    width: 49%;
    left: 50%;
    position: relative;
  }
  .slick-slide > div .product-card .card-body .align-items-center {
    display: none;
  }
  .slick-slide > div .product-card .card-img-top {
    position: absolute;
    width: auto;
    margin: 15px auto 0;
    max-height: 170px;
  }

  #animation_container #dom_overlay_container {
    font-size: 50px;
  }
  #animation_container #dom_overlay_container .connect {
    top: 30%;
    left: 20px;
  }
  #animation_container #dom_overlay_container .click {
    top: 83%;
    left: 20px;
  }
  #animation_container #dom_overlay_container .share {
    top: 70.5%;
  }
  #animation_container #dom_overlay_container .animation-text-target {
    font-size: 22px;
    color: black;
    position: absolute;
    bottom: 10%;
    left: 1%;
  }
  #animation_container #dom_overlay_container .animation-text-target.final-text {
    bottom: 1%;
  }
  #animation_container #dom_overlay_container .animation-button-target {
    bottom: 8%;
  }
}
/* PORTRAIT TABLET */
@media screen and (max-width: 770px) and (min-width: 380px) {
  html, body {
    background: white;
  }

  nav.white, nav.white .nav-wrapper {
    position: fixed;
    left: 0;
  }

  .modal .modal-title {
    max-width: 440px;
  }

  #animation_container #dom_overlay_container {
    font-size: 50px;
  }
  #animation_container #dom_overlay_container .connect {
    top: 30%;
    left: -1%;
  }
  #animation_container #dom_overlay_container .click {
    top: 83%;
    left: -1%;
  }
  #animation_container #dom_overlay_container .share {
    top: 70.5%;
  }
  #animation_container #dom_overlay_container .animation-text-target {
    font-size: 22px;
    color: black;
    position: absolute;
    bottom: 6%;
    left: 1%;
  }
  #animation_container #dom_overlay_container .animation-text-target.final-text {
    bottom: 0;
  }
  #animation_container #dom_overlay_container .animation-button-target {
    bottom: 7.5%;
  }

  .select-device .product-card .card-img-top {
    width: auto;
    margin: 16px auto;
  }

  .slick-slide > div {
    text-align: center;
  }
  .slick-slide > div .product-card {
    width: 90% !important;
    margin: 0 auto;
  }
  .slick-slide > div .product-card .card-body {
    width: 49%;
    left: 50%;
    position: relative;
  }
  .slick-slide > div .product-card .card-body .align-items-center {
    display: none;
  }
  .slick-slide > div .product-card .card-img-top {
    position: absolute;
    width: auto;
    margin: 15px auto 0;
    max-height: 170px;
  }

  .get-form form.mktoForm {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .get-form form.mktoForm .mktoLabel[for="preferenceCenterOptIn"] {
    float: right;
    width: 80% !important;
  }
  .get-form form.mktoForm .mktoCheckboxList {
    width: auto !important;
  }
  .get-form form.mktoForm .mktoCheckboxList #preferenceCenterOptIn {
    margin-top: 8px;
  }
  .get-form form.mktoForm .mktoButtonRow .mktoButtonWrap {
    display: block;
    text-align: center;
  }
  .get-form form.mktoForm .mktoButtonRow button[type="submit"] {
    margin-top: 12px;
    background: linear-gradient(#f00000 0%, #d70000 100%);
    text-shadow: 1px 1px 1px #bd0000;
    border: none;
    box-shadow: 0 2px 0 -2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 10px 25px;
    text-align: center;
  }
  .get-form form.mktoForm .mktoButtonRow button[type="submit"]:hover {
    border: none !important;
  }
  .get-form form.mktoForm .mktoButtonRow button[type="submit"]:active {
    background: linear-gradient(#f00000 0%, #d70000 100%);
  }

  footer.footer {
    height: auto;
  }
  footer.footer .footerContent {
    margin-top: -20px;
  }
  footer.footer .footerContent .row .col-6 {
    width: 100%;
    min-width: 100%;
  }
  footer.footer .footerContent .row .col-6 div {
    position: relative;
    bottom: 0;
    font-size: 15px;
    line-height: 18px;
  }
  footer.footer .footerContent .row .col-6 div ul {
    margin-bottom: 20px;
  }
  footer.footer .footerContent .row .col-6 div ul li a {
    font-size: 15px;
  }
  footer.footer .footerContent .row .col-6 div .text-muted {
    display: block;
  }
  footer.footer .footerContent .row .col-6 .float-right {
    float: none;
    margin-right: 0;
  }
  footer.footer .footerContent .row .col-6 img.mobile-awards {
    display: block;
  }
  footer.footer .footerContent .row .col-6 img.desk-awards {
    display: none;
  }
  footer.footer .footerContent .row br {
    clear: both;
  }
}
#orientationModal, #orientationModalLandscape {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  z-index: 200;
  text-align: center;
  padding-top: 10%;
}
#orientationModal p, #orientationModalLandscape p {
  font-size: 17px;
  font-weight: bold;
}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  #animation_container #dom_overlay_container {
    font-size: 50px;
  }
  #animation_container #dom_overlay_container .connect {
    top: 30%;
    left: -1%;
  }
  #animation_container #dom_overlay_container .click {
    top: 83%;
    left: -1%;
  }
  #animation_container #dom_overlay_container .share {
    top: 70.5%;
  }
  #animation_container #dom_overlay_container .animation-text-target {
    font-size: 22px;
    color: black;
    position: absolute;
    bottom: 12%;
    left: 1%;
  }
  #animation_container #dom_overlay_container .animation-text-target.final-text {
    bottom: 6%;
  }
  #animation_container #dom_overlay_container .animation-button-target {
    bottom: 12%;
  }

  .slick-slide > div {
    text-align: center;
  }
  .slick-slide > div .product-card {
    width: 80% !important;
    margin: 0 auto;
  }
  .slick-slide > div .product-card .card-body {
    width: 100%;
    left: 0;
    position: relative;
  }
  .slick-slide > div .product-card .card-body .align-items-center {
    display: none;
  }
  .slick-slide > div .product-card .card-img-top {
    position: relative;
    width: auto;
    margin: 15px auto 0;
    max-height: 170px;
  }

  .get-form form#get-quote input.half {
    width: 45.5%;
  }
}
/* samsung s8 */
@media only screen and (device-width: 360px) {
  #animation_container #dom_overlay_container {
    font-size: 50px;
  }
  #animation_container #dom_overlay_container .connect {
    top: 30%;
    left: -1%;
  }
  #animation_container #dom_overlay_container .click {
    top: 83%;
    left: -1%;
  }
  #animation_container #dom_overlay_container .share {
    top: 70.5%;
  }
  #animation_container #dom_overlay_container .animation-text-target {
    font-size: 22px;
    color: black;
    position: absolute;
    bottom: 12%;
    left: 1%;
  }
  #animation_container #dom_overlay_container .animation-text-target.final-text {
    bottom: 6%;
  }
  #animation_container #dom_overlay_container .animation-button-target {
    bottom: 11.5%;
  }

  .slick-slide > div {
    text-align: center;
  }
  .slick-slide > div .product-card {
    width: 80% !important;
    margin: 0 auto;
  }
  .slick-slide > div .product-card .card-body {
    width: 100%;
    left: 0;
    position: relative;
  }
  .slick-slide > div .product-card .card-body .align-items-center {
    display: none;
  }
  .slick-slide > div .product-card .card-img-top {
    position: relative;
    width: auto;
    margin: 15px auto 0;
    max-height: 170px;
  }

  .get-form form#get-quote input.half {
    width: 45.5%;
  }
}
@media screen and (orientation: portrait) {
  #orientationModal {
    display: none;
  }
}
@media screen and (max-width: 737px) and (orientation: landscape) {
  #orientationModal {
    display: block;
  }
}
/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  #orientationModal {
    display: block;
  }
}
/* ipad portrait */
@media only screen and (device-width: 768px) and (orientation: portrait) {
  #orientationModalLandscape {
    display: block;
  }
}
.ui-selectmenu-open .ui-widget.ui-widget-content {
  max-width: 40px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.nopadding-left {
  padding-left: 0 !important;
  margin: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
  margin: 0 !important;
}

/*# sourceMappingURL=style.unprefixed.css.map */
