body {
     //background-image: url('/assets/img/cs-tech-bg-R.png');
     background-position: 100% 88%;
     background-repeat: no-repeat, no-repeat;
     background-color: #F5F5F5 !important;
}
 nav.white {
     position: fixed;
     max-height: 72px;
     height: 72px;
     width: 100%;
     z-index: 12;
     top: 0;
     .nav-wrapper {
         margin-bottom: 0;
         max-height: 72px;
         max-width: 1280px;
         margin: 0 auto;
         .logo-corner {
             max-height: 72px;
             overflow: hidden;
             display: inline-block;
             float: left;
        }
         .nav-title {
             font-family: 'DaxLight', sans-serif;
             color: #999999;
             padding: 0 0 0 25px;
             display: inline-block;
             float: left;
             margin-top: 19px;
        }
         .btn-get {
             font-size: 16px;
             position: relative;
             width: 232px;
             line-height: 33px;
             top: 20px;
        }
    }
}
.desktop-nav {
     text-align: right;
     ul {
         li {
             width: 232px;
             height: 117px;
             color: black;
             text-align: center;
             font-size: 19px;
             font-family: 'DaxRegular', arial;
             margin-bottom: 10px;
             margin-left: 58px;
             position:relative;
              border: 1px solid lightgray;
              border-radius: 3px;
              overflow: hidden;
             a {
                 text-decoration: none;
                 color: black;
                 display: block;
                 width: 100%;
                  height: 116px;
                 padding-top: 85px;
                  position: absolute;
                z-index:1;
            }
           &:hover, &.current{
             a{
               color: white;
             }
             &::after{
               content: '';
               width: 100%;
               height: 34px;
               bottom: 0px;
               display: block;
               position: absolute;
               background-color: #2a97ef;
               //z-index:100;
             }
           }
             &.btn-share-instantly {
                 background: transparent url('/assets/img/btn-share-instantly-blank.png') no-repeat;
            }
             &.btn-save-space {
                 background: transparent url('/assets/img/btn-save-space-blank.png') no-repeat;
            }
             &.btn-save-money {
                 background: transparent url('/assets/img/btn-save-money-blank.png') no-repeat;
            }
             &.btn-see-solutions {
                 background: transparent url('/assets/img/btn-explore-products-blank.png') no-repeat;
            }
        }
    }

}

// ANIMATIONS

 #animation_container {
     background-color: transparent !important;
     margin: 0 auto;
     position: relative;
     #canvas {
         background-color: transparent !important;
    }
    #dom_overlay_container {
    	font-family: 'DaxBold';
    	font-size: 77px;
    	color: white;
    	text-align: center;

    	.connect, .click, .share { 
    		display: none; 
			position: absolute;
			width: 100%;
    	}
    	.connect {
    		top: 22.5%;
    		left: 1.5%;
    	}
    	.click {
    		top: 76.5%;
    		left: 2.5%;

    	}
    	.share {
    		top: 70%;
    	}
    	.animation-text-target {
    		font-family: 'DaxRegular';
    		font-size: 24px;
    		color: black;
    		position: absolute;
    		bottom: 7.1%;
    		width: 100%;
    		display: none;
    		color: black;
			&.final-text {
    			bottom: 10px;
    		}
    	}
    	.animation-button-target {
    		display: none;
    		width: 100%;
    		color: white;
    		font-size: 20px;
    		bottom: 8%;
    		position: absolute;
    		a {
    			color: white;
    			text-decoration: none;
                font-family: 'DaxMedium';
                font-size: 1.9rem;
                line-height: 2.2;
    		}
    	}
    }
}

 .share-instantly {
     #animation_container {
         margin: -20px auto 0;
    }
}
 div.container-fluid {
     max-width: 1280px;
     margin: 100px auto 0;
}
 ul.product-list {
     margin-top: 12px;
}
 ul.product-list > li {
     clear: both;
     font-size: 18px;
     margin-top: 10px;
     line-height: 22px;
}
 .asterisk {
     font-family: sans-serif;
}
 button.navbar-toggler {
     display: none;
}
 .modal {
     display: none;
}
 .product-list li:before {
     margin-left: 0;
}
 .productSet {
     margin: 30px auto 0;
     .col-lg-4 {
         width: 33%;
    }
     .btn-products {
         margin: 15px auto;
         width: 100%;
         .btn-product {
             margin: 2px auto;
             display: block;
             width: 100%;
        }
         span {
             margin-bottom: 12px;
             display: block;
             font-size: 15px;
        }
    }
}
 img.card-img-top {
     max-height: 150px;
     display: block;
     //width: 100%;
     margin: 0 auto;
}
 .card-text {
     min-height: 285px;
     position: relative;
     .hdr-h2 {
        margin: 15px 0;
     }

     hr.drop {
         position: absolute;
         width: 100%;
         bottom: 0;
         margin-top: 15px;
         margin-bottom: 18px;
    }
}
img.pagination {
    margin: 25px auto 0 !important;
}
 .save-money-cta {
     margin-bottom: 100px;
     font-size: 22px;
     .text-center {
         font-size: 22px;
         font-family: "DaxMedium";
    }
     span {
         text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
         color: #FFF;
    }
}
/* SAVE SPACE */
 .slider-label {
     font-size: 20px;
     color: white;
     position: absolute;
     white-space: nowrap;
     top: 25px;
     right: 100px;
}
 .cd-resize-img .slider-label {
     left: 100px;
     right: auto;
}
 .save-space-cta {
     margin-top: -135px;
     margin-bottom: 100px;
     font-size: 22px;
     .text-center {
         font-size: 22px;
         font-family: "DaxMedium";
    }
     span {
         text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
         color: #FFF;
    }
}
/* SAVE MONEY */
 .sliders .types {
     display: inline-block;
     padding: 30px 20px 8px 20px;
     overflow: hidden;
}
 .sliders .container {
     height: 250px;
     width: 250px;
}
 .sliders .container > div {
     float: left;
}
 .sliders .control {
     margin-right: 20px;
}
 .sliders .mobile {
     display: none;
}
 .rs-bg-color {
     background-color: #F5F5F5;
}
 .currency {
     text-align: right;
     padding: .5em 2.5em;
     input {
        margin-left: 5px;
     }
     input[type='radio']:after {
         width: 15px;
         height: 15px;
         border-radius: 10px;
         top: -2px;
         left: -1px;
         position: relative;
         background-color: #FFF;
         content: '';
         display: inline-block;
         visibility: visible;
         border: 2px solid white;
    }
     input[type='radio']:checked:after {
         width: 15px;
         height: 15px;
         border-radius: 10px;
         top: -2px;
         left: -1px;
         position: relative;
         background-color: #F00000;
         content: '';
         display: inline-block;
         visibility: visible;
         border: 2px solid white;
    }
    &.currency-mobile {
    	display: none;
    }
}
 .sliderText {
     font-size: 22px;
     text-align: center;
     line-height: 1em;
     div {
         display: inline-block;
         float: left;
         font-family: 'DaxMedium';
	     .ui-widget.ui-widget-content {
	         width: 40px;
	    }
    }
     .ui-selectmenu-button.ui-button {
         font-size: 60px;
         width: auto;
         padding: 2px 5px 2px 10px;
         border: 4px solid red;
         border-radius: 6px;
         font-family: 'DaxBold';
         background-color: transparent;
    }

     .ui-selectmenu-text {
         line-height: 60px;
    }
     .ui-button {
         .ui-icon {
             background-image: url('../img/select-triangle.png') !important;
             background-position: center;
             background-size: contain;
             min-height: 50px;
        }
    }
     .label {
         display: inline-block;
         text-align: left;
         vertical-align: middle;
    }
     .meetings {
         width: 27%;
         #meetings-button {
             min-width: 111px;
             text-align: center;
        }
         .label {
             width: 47%;
        }
    }
     .years {
         width: 28%;
         #years-button {
             min-width: 111px;
             text-align: center;
        }
         .label {
             width: 50%;
        }
    }
     .equals {
         font-size: 60px;
         vertical-align: middle;
    }
     .projected-total {
         width: 45%;
         .label {
             width: 97px;
             vertical-align: baseline;
             text-align: center;
        }
    }

}

.ui-menu {
     .ui-menu-item-wrapper {
         text-align: center;
         font-size: 22px;
         &.ui-state-active {
             background-color: red;
             border: 1px solid red;
        }
    }
}
 #calculationValue {
     text-align: center;
     border: 4px solid red;
     border-radius: 6px;
     position: relative;
     top: 0;
     font-size: 55px;
     line-height: 60px;
     padding: 0 5px;
     font-family: 'DaxBold';
     background-color: transparent;
     color: #000;
}
input:disabled {
    color: #000;
    -webkit-text-fill-color:#000
}
 .text-center {
     clear: both;
     padding-top: 20px;
}
 .col-9 {
     text-align: center;
}
 .full .rs-tooltip {
     top: 48%;
}
 .rs-tooltip-text {
     font-size: 60px;
     margin-left: -125px;
     font-weight: bold;
     font-family: DaxMedium;
}
 .salary .rs-tooltip-text {
     margin-left: -100px;
}
 .rs-tooltip-text div {
     font-size: 22px;
     margin-top: -15px;
     line-height: 22px;
     font-weight: normal;
}
 .rs-start, .rs-end {
     display: none;
}
 .sliderText input {
     border: 4px solid red;
     border-radius: 6px;
     position: relative;
     top: 0;
     font-size: 60px;
     padding: 5px;
     font-family: 'DaxBold';
}
 .sliderText input, .sliderText select {
     border: 4px solid red;
     border-radius: 3px;
     position: relative;
     top: 0;
     font-size: 60px;
     padding: 5px;
     font-family: 'DaxBold';
}
/* GET A QUOTE */
 p.form-instruct {
     font-size: 18px;
}
 .row {
     &.white {
         padding: 27px 0 30px 30px;
         margin-right: 22px;
    }
}
 .unitTeaser {
     padding-right: 0;
     .selected-product-header {
         font-size: 18px;
         font-family: DaxBold;
         margin-bottom: 10px;
    }
     .product-card {
         display: none;
         img {
             &.card-img-top {
                 max-height: 100%;
            }
        }
         .card-text {
             min-height: 220px;

        }
    }
}
.get-form {
    width: 100%;

    .get-a-quote-success {
        display: none;
        color: #F00000;
        font-size: 1.3em;
        margin-bottom: 20px;
        padding: 20px;
        text-align: center;

        .btn-next {
            margin-top: 50px;
        }
    }
    
    form {
        &.mktoForm {
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;

            .mktoLabel[for="preferenceCenterOptIn"] {
                float: right;
                width: 80% !important;
            }

            .mktoCheckboxList {
                width: auto !important;

                #preferenceCenterOptIn {
                    margin-top: 8px;
                }
            }

            .mktoButtonRow {
                .mktoButtonWrap {
                    display: block;
                    text-align: center;
                }

                button[type="submit"] {
                    margin-top: 12px;
                    background: linear-gradient(#f00000 0%,#d70000 100%);
                    text-shadow: 1px 1px 1px #bd0000;
                    border: none;
                    box-shadow: 0 2px 0 -2px rgba(0,0,0,.3);
                    border-radius: 3px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 1.2em;
                    line-height: 1.2em;
                    padding: 10px 25px;
                    text-align: center;

                    &:hover {
                        border: none !important;
                    }

                    &:active {
                        background: linear-gradient(#f00000 0%,#d70000 100%);
                    }
                }
            }
        }
    }
}
 form#get-quote {
     text-align: center;
     margin: 0 40px;
     input, select {
         height: 40px;
         border: 1px solid #999999;
         background-color: #FFFFFF;
         box-shadow: inset 0 0 10px 0 #E5E5E5;
         font-size: 13px;
         line-height: 15px;
         padding: 12px 8px;
         color: black;
         width: 100%;
         margin-bottom: 10px;
         font-family: 'DaxRegular';
         &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
             color: rgba(51,51,51,0.25);
            ;
             opacity: 1;
            /* Firefox */
        }
         &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
             color: rgba(51,51,51,0.25);
            ;
        }
         &::-ms-input-placeholder {
            /* Microsoft Edge */
             color: rgba(51,51,51,0.25);
            ;
        }
         &.half {
             width: 47%;
             &.no-unitTeaser {
                width: 48%;
             }
        }
    }
    .row {
        margin: 0;
    }
     label {
         width: 100%;
         text-align: left;
         display: block;
    }
     .btn-submit {
         font-size: 15px;
         margin-top: 10px;
         width: 200px;
         font-family: DaxRegular;
    }
     .btn-goback {
         display: none;
    }
}
 .success {
     display: none;
     text-align: center;
     width: 100%;
}
 .error {
     display: block;
     color: #F10019;
}
/* FOOTER */
 .footer {
     background-color: #F5F5F5;
     .swoop {
         max-height: 175px;
    }
     .footerContent {
         background-color: #FFFFFF;
         padding-bottom: 50px;
         margin-top: -80px;
         .footer-nav a {
            color: #F4001A;
            text-decoration: none;
            font-size: 18px;
         }
         .row {
             max-width: 1280px;
             margin: 0 auto;
             background-color: white;
             .col-6 {
                 div {
                     position: absolute;
                     bottom: 0;
                     font-size: 18px;
                     line-height: 18px;
                     ul {
                         margin-bottom: 20px;
                    }
                }
                 img.mobile-awards {
                    display: none;
                 }
                 .float-right {
                     float: right;
                     margin-right: 50px;
                    }            
            }

        }
    }
}
 @media screen and (max-width: 1024px) {
     body {
         //background-image: url('/assets/img/cs-user-friendliness-bg-L.png');
         background-position: left top;
         background-repeat: no-repeat, no-repeat;
         //padding-bottom: 50px;
         &.calculator {
             //background-image: url('/assets/img/L-Clipboard.png'), url('/assets/img/R-Pie.png');
             background-position: left bottom, right bottom;
             background-repeat: no-repeat, no-repeat;
             padding-bottom: 0;            
         }
         &.clickshare-home {
             //background-image: url('/assets/img/L-Pie-slice.png'), url('/assets/img/R-Cog.png');
             background-position: left 50%, right 10%;
             background-repeat: no-repeat, no-repeat;
             padding-bottom: 0;               

             nav.white{
             z-index: -1;
            }
        }
        &.shareinstantly {
             //background-image: url('/assets/img/L-cog.png');//, url('/assets/img/R-pie-chart.png');
             background-position: left top, right bottom;
             background-repeat: no-repeat, no-repeat;
             padding-bottom: 0;              
             footer {
                padding-top: 0;
                margin-top: -40px;
             }
        }
         &.save-space {
             h1, h2 {
                 //display: none;
            }
             .container-fluid.main {
                 //margin-top: 36px;
                 //padding-top: 0;
                 .main-row {
                    padding-top: 0;
                 }
            }
        }
         .btn {
             font-size: 1.9rem;
             line-height: 2.2;
        }
    }
     .logo-corner {
         width: 100px;
    }
     .modal {
         //display: block;
         padding-left: 10% !important;
         font-family: DaxRegular;
         .modal-btn {
             font-size: 1.8rem;
        }
        .modal-title {
        	max-width: 290px;
        	text-align: center;
        	padding-left: 0;
        }
    }
    #animation_container {
	    #dom_overlay_container {
	    	font-size: 65px;

	    	.connect {
	    		top: 30%;
	    		left: -1%;
	    	}
	    	.click {
	    		top: 83%;
	    		left: -1%;
	    	}
	    	.share {
	    		top: 70.5%;
	    		//left: 17.5%;
	    	}
	    	.animation-text-target {
	    		font-size: 22px;
	    		color: black;
	    		position: absolute;
	    		bottom: 12%;
	    		left: 1%;
	    		&.final-text {
	    			bottom: 5%;
	    		}
	    	}
	    	.animation-button-target {
				bottom: 12%;
	    	}
	    }
	}
     nav.white {
         height: 66px;
         .nav-wrapper {
             margin-bottom: 0;
             position: fixed;
             left: 0;
             height: 66px;
             background: white;
             width: 100%;
             div.nav-title {
                 display: none;
            }
             ul{
                 margin-top: 18px;
                 a.btn {
                     margin-bottom: 0;
                     color: #F00000;
                     background-color: transparent;
                     background-image: none;
                     font-size: 12px;
                     border: 1.5px solid #F00000;
                     border-radius: .25rem;
                     width: auto;
                     padding: 0 .75rem;
                }
                 button.navbar-toggler {
                     display: block;
                     margin-top: -10px;
                }
                 .btn-get {
                     font-size: 16px;
                     position: relative;
                     line-height: 30px;
                     top: 0;
                     margin-right: 0;
                     width: 55px;
                     margin-top: 0;
                }
            }
        }
    }
     .container {
         padding: 0 !important;
         .container-fluid.main {
             padding: 25px 0 0 0;
             margin: 60px auto 0;
             div.row > div {
                 width: 100%;
            }
             .hdr-dsktop-title, .hdr-h4 {
                 padding: 0 1em;
            }
            .hdr-dsktop-title {
                font-size: 28px;
            }
            .hdr-h4 {
                font-size: 14px;
                 line-height: 18px;
                 margin-bottom: 10px;
            }
             .hdr-p {
                 text-align: center;
                 font-size: 22px;
            }
        }
        .cs-img {
            max-width: 250px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        .alternate-logo-click {
            background: transparent;
            width: 100px;
            height: 66px;
            display: block;
            position: fixed;
            top: 0;
        }
    }
     .slider-label {
         right: 77px;
    }
     .cd-resize-img .slider-label {
         right: auto;
    }
     .sliders {
         .types {
             display: none;
        }
         .mobile {
             display: block;
             text-align: center;
             font-size: 14px;
             width: 85%;
             margin: 0 auto;
             .rwd-break {
                 display: none;
                 line-height: 1.5em;
            }
             .ui-slider {
                 background-color: #DDD;
                 height: 25px;
                 border-radius: 12.5px;
                 //margin-bottom: 20px;
                 .ui-slider-handle {
                     background: white;
                     height: 35px;
                     width: 35px;
                     border: 1px solid #CCC;
                     border-radius: 20px;
                     text-indent: -40px;
                     color: white;
                     font-size: 18px;
                     line-height: 34px;
                     &.righty {
                         text-indent: 40px !important;
                         color: red;
                    }
                }
                 .ui-slider-range{
                     background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
                     height: 25px;
                     border: none;
                     border-radius: 12.5px 0 0 12.5px;
                }
            }
             input[type="range"] {
                 -webkit-appearance: none;
                 background: linear-gradient(0deg, #D70000 0%, #F00000 100%);
                 border-radius: 12px;
                 height: 24px;
                 width: 90%;
                 margin: 0 auto 20px;
            }
             input[type="range"]::-webkit-slider-thumb {
                 -webkit-appearance: none;
                 appearance: none;
                 width: 30px;
                 height: 30px;
                 background: white;
                 border: 1px solid grey;
                 border-radius: 15px;
                 cursor: pointer;
            }
             input[type="range"]::-moz-range-thumb {
                 width: 25px;
                 height: 25px;
                 background: #4CAF50;
                 cursor: pointer;
            }
             #custom-handle-time {
                 text-indent: -30px;
            }
             #custom-handle-salary {
                 text-indent: -60px;
            }
             #custom-handle-attendees {
                 text-indent: -30px;
            }
        }
    }
     .currency {
         padding-top: 40px;
         &.currency-mobile {
         	display: block;
         	text-align: center;
         	input {
         		margin-left: 10px;
         	}
         }
         &.currency-desk {
         	display: none;
         }
    }
     .sliderText {
         font-size: 14px;
         text-align: center;
         padding: .5em 2.5em;
         div {
             display: inline-block;
             float: left;
             font-family: 'DaxMedium';
        }
         .ui-selectmenu-button.ui-button {
             font-size: 20px;
             width: auto;
             padding: 2px 5px 2px 10px;
             border: 4px solid red;
             border-radius: 6px;
             font-family: 'DaxBold';
             background-color: transparent;
        }
         .ui-button {
                .ui-icon {
                    //background-size: 75%;
                    min-height: 38px;
                }
             }


         .label {
             display: inline-block;
             text-align: left;
             vertical-align: middle;
        }
         .meetings {
             width: 47%;
             #meetings-button {
                 min-width: 52px;
                 text-align: center;
                 height: 50px;
            }
             .label {
                 width: 50%;
            }
        }
         .years {
             width: 53%;
             #years-button {
                 min-width: 52px;
                 text-align: center;
                 height: 50px;
            }
             .label {
                 width: 50%;
            }
        }
        .ui-selectmenu-text {
            line-height: 40px;
        }
         .equals {
             font-size: 22px;
             vertical-align: middle;
        }
         .projected-total {
             width: 100%;
             padding-top: 20px;
             .label {
                 width: 100px;
                 vertical-align: baseline;
                 text-align: center;
            }
        }
    }
     select {
         background-image: url('../img/select-triangle.png');
         background-position: center;
         background-repeat: no-repeat;
         background-position: 95%;
         background-size: 10%;
    }
     #calculationValue {
         display: block;
         margin: 0 auto;
         text-align: center;
         margin-bottom: 15px;
         margin-top: 5px;
    }
     .indicators-label {
         ul {
             width: 100%;
             li {
                 display: inline-block;
                 float: left;
                 width: 11%;
            }
        }
    }
     .selectable {
         display: block;
         &.selected {
             border: 2px solid red;
        }
    }
     .select-device {
         .btn-products {
             width: 100%;
             text-align: center;
             a {
                 color: red;
            }
        }
        .product-card {
            .card-img-top {
                width: 100%;
                margin-left: 0;
            }
        }
    }

     .card-text {
         min-height: 100px;
         position: relative;
         font-family: 'DaxRegular';
         p {
             font-size: 12px;
             margin-bottom: 0;
        }
        .hdr-device {
            line-height: 18px;
        }
         hr.drop {
             position: relative;
             width: 100%;
        }
         ul.device-detail {
             li {
                 list-style-type: disc;
                 color: black;
                 display: list-item;
                 margin-left: 1em;
            }
        }
        .which-unit {
            font-size: 1.5rem;
            line-height: 3rem;
            height: auto;
        }
    }
     .desktop-nav {
         display: none;
    }
     .main {
         .row {
             margin-right: 0;
             margin-left: 0;
             width: 100%;
        }
    }
     .hdr-dsktop-title {
         font-size: 36px;
    }
     .btn-products {
         width: 100%;
         a.btn {
             width: 45%;
        }
    }
     .get-form {
         width: 95%;
         margin: 0 auto;
         .form-instruct {
             font-size: 16px;
        }
         form#get-quote {
             input.half {
                 width: 45%;
            }
        }
         button {
             display: block;
             margin: 0 auto;
        }
         .btn-goback {
             display: inline-block;
        }
    }
     .footer {
         //display: none;
         
            padding-top: 25px;
            .footerContent {
                margin-top: 0;
                padding-bottom: 15px;
                 .row {
                    .col-6 {
                        width: 100%;
                        min-width: 100%;
                        div {
                             position: relative;
                             bottom: 0;
                             font-size: 15px;
                             line-height: 18px;
                             ul {
                                 margin-bottom: 20px;
                                 li {
                                    a {
                                        font-size: 15px;
                                    }
                                 }
                            }
                            .text-muted {
                                display: block;
                                font-family: DaxLight;
                                margin-top: -30px;
                            }
                        }
                    img.mobile-awards {
                        display: block;
                        margin-bottom: 15px;
                    }
                    img.desk-awards {
                        display: none;
                        }  
                     .float-right {
                         float: none;
                         margin-right: 0;
                    }
                    }
                    br { clear: both; }
                }

            
         }
    }
}
/*  LANDSCAPE TABLET */
 @media screen and (max-width: 1024px) and (min-width: 770px) {
    nav.white {
         .nav-wrapper {
             ul{
                 margin-right: 10px;
             }
            }
    }
    body {
        .btn {
            line-height: 2.4;
        }
        .modal .btn {
            line-height: 2;
        }
    }         

     .sliders {
         .types {
             display: inline-block;
        }
         .mobile {
             display: none;
             .ui-slider {
                 background-color: #DDD;
                 height: 25px;
                 border-radius: 12.5px;
                 //margin-bottom: 20px;
            }
        }
    }
     .sliderText {
         font-size: 22px;
         text-align: center;
         line-height: 1em;
         input, select {
         	font-size: 45px !important;
         	display: inline-block;
         }
         div {
             display: inline-block;
             float: left;
             font-family: 'DaxMedium';
        }

         .ui-selectmenu-button.ui-button {
             font-size: 60px;
             width: auto;
             padding: 2px 5px 2px 10px;
             border: 4px solid red;
             border-radius: 6px;
             font-family: 'DaxBold';
             background-color: transparent;
        }
         .ui-widget.ui-widget-content {
             width: 40px;
        }
         .ui-selectmenu-text {
             line-height: 40px;
             font-size: 40px;
        }
         .ui-button {
             .ui-icon {
                 background-image: url('../img/select-triangle.png');
                 background-position: center;
                 min-height: 50px;
            }
             &:hover .ui-icon{
                 background-image: url('../img/select-triangle.png');
            }
        }
         .label {
             display: inline-block;
             text-align: left;
             vertical-align: middle;
        }
         .meetings {
             width: 30%;
             margin-top: 14px;
             #meetings-button {
                 min-width: 111px;
                 text-align: center;
            }
             .label {
                 width: 50%;
            }
        }
         .years {
             width: 30%;
             margin-top: 14px;
             #years-button {
                 min-width: 111px;
                 text-align: center;
            }
             .label {
                 width: 50%;
            }
        }
         .equals {
             font-size: 50px;
             vertical-align: middle;
        }
         .projected-total {
             width: 40%;
             padding-top: 5px;
             color: black;
             .label {
                 width: 91px;
                 vertical-align: baseline;
                 text-align: center;
            }
            #calculationValue {
            	margin: 0;
            	display: inline-block;

            }
            input:disabled {
                color: #000;
            }
        }
        .select-device {
             .btn-products {
                 width: 100%;
                 text-align: right;
                }

            }

    }
    .currency {
         &.currency-mobile {
            text-align: right;
            padding-right: 60px;
            margin-top: 29px;
         }
    }
    select {
         background-size: 3%;
    }
    .select-device {
        .product-card {
            .card-img-top {
                width: auto;
                margin: 15px auto 0;
                max-height: 170px;

                }
            } 
    }
    .slick-slide > div {
        text-align: center;
        .product-card {
            width: 70% !important;
            margin: 0 auto;
            .card-body {
                width: 49%;
                left: 50%;
                position: relative;
                .align-items-center {
                    display: none;
                }
            }
            
            .card-img-top {
                position: absolute;
                width: auto;
                margin: 15px auto 0;
                max-height: 170px;

                }
            } 
    }

    #animation_container {
        #dom_overlay_container {
            font-size: 50px;
            .connect {
                top: 30%;
                left: 20px;
            }
            .click {
                top: 83%;
                left: 20px;
            }
            .share {
                top: 70.5%;
            }
            .animation-text-target {
                font-size: 22px;
                color: black;
                position: absolute;
                bottom: 10%;
                left: 1%;
                &.final-text {
                    bottom: 1%;
                }
            }
            .animation-button-target {
                bottom: 8%;
            }
        }
    }    
}
/* PORTRAIT TABLET */
@media screen and (max-width: 770px) and (min-width: 380px) {
    html, body { background: white; }
	nav.white, nav.white .nav-wrapper {
		position: fixed;
		left: 0;
	}
    .modal .modal-title {
        max-width: 440px;
    }
    #animation_container {
        #dom_overlay_container {
            font-size: 50px;
            //height: 720px !important;
            .connect {
                top: 30%;
                left: -1%;
            }
            .click {
                top: 83%;
                left: -1%;
            }
            .share {
                top: 70.5%;
                //left: 17.5%;
            }
            .animation-text-target {
                font-size: 22px;
                color: black;
                position: absolute;
                bottom: 6%;
                left: 1%;
                &.final-text {
                    bottom: 0;
                }
            }
            .animation-button-target {
                bottom: 7.5%;
            }
        }
    }
    .select-device .product-card .card-img-top {
        width: auto;
        margin: 16px auto;
    }

    .slick-slide > div {
        text-align: center;
        .product-card {
            width: 90% !important;
            margin: 0 auto;

            .card-body {
                width: 49%;
                left: 50%;
                position: relative;
                .align-items-center {
                    display: none;
                }
            }
            
            .card-img-top {
                position: absolute;
                width: auto;
                margin: 15px auto 0;
                max-height: 170px;

                }
            } 
    }
    .get-form {
        form {
            &.mktoForm {
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
    
                .mktoLabel[for="preferenceCenterOptIn"] {
                    float: right;
                    width: 80% !important;
                }
    
                .mktoCheckboxList {
                    width: auto !important;
    
                    #preferenceCenterOptIn {
                        margin-top: 8px;
                    }
                }
    
                .mktoButtonRow {
                    .mktoButtonWrap {
                        display: block;
                        text-align: center;
                    }
    
                    button[type="submit"] {
                        margin-top: 12px;
                        background: linear-gradient(#f00000 0%,#d70000 100%);
                        text-shadow: 1px 1px 1px #bd0000;
                        border: none;
                        box-shadow: 0 2px 0 -2px rgba(0,0,0,.3);
                        border-radius: 3px;
                        text-align: center;
                        font-weight: bold;
                        font-size: 1.2em;
                        line-height: 1.2em;
                        padding: 10px 25px;
                        text-align: center;
    
                        &:hover {
                            border: none !important;
                        }

                        &:active {
                            background: linear-gradient(#f00000 0%,#d70000 100%);
                        }
                    }
                }
            }
        }
    }

    footer.footer {
        height: auto;

        .footerContent {
            margin-top: -20px;

                 .row {
                     .col-6 {
                        width: 100%;
                        min-width: 100%;
                         div {
                             position: relative;
                             bottom: 0;
                             font-size: 15px;
                             line-height: 18px;
                             ul {
                                 margin-bottom: 20px;
                                 li {
                                    a {
                                        font-size: 15px;
                                    }
                                 }
                            }
                            .text-muted {
                                display: block;
                            }
                        }
                     .float-right {
                         float: none;
                         margin-right: 0;
                    }
                    img.mobile-awards {
                        display: block;
                    }
                    img.desk-awards {
                        display: none;
                    }  
                    }
                    br { clear: both; }
                }
        }
    }
}
#orientationModal, #orientationModalLandscape {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    z-index: 200;
    text-align: center;
    padding-top: 10%;

    p {
        font-size: 17px;
        font-weight: bold;
    }
}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { 
    #animation_container {
        #dom_overlay_container {
            font-size: 50px;
            .connect {
                top: 30%;
                left: -1%;
            }
            .click {
                top: 83%;
                left: -1%;
            }
            .share {
                top: 70.5%;
            }
            .animation-text-target {
                font-size: 22px;
                color: black;
                position: absolute;
                bottom: 12%;
                left: 1%;
                &.final-text {
                    bottom: 6%;
                }
            }
            .animation-button-target {
                bottom: 12%;
            }
        }
    }    
    .slick-slide > div {
        text-align: center;
        .product-card {
            width: 80% !important;
            margin: 0 auto;
            .card-body {
                width: 100%;
                left: 0;
                position: relative;
                .align-items-center {
                    display: none;
                }
            }
            
            .card-img-top {
                position: relative;
                width: auto;
                margin: 15px auto 0;
                max-height: 170px;

                }
            } 
        }
        .get-form {
         form#get-quote {
             input.half {
                 width: 45.5%;
            }
        }
    }
}

/* samsung s8 */
@media only screen and (device-width: 360px) { 
    #animation_container {
        #dom_overlay_container {
            font-size: 50px;
            .connect {
                top: 30%;
                left: -1%;
            }
            .click {
                top: 83%;
                left: -1%;
            }
            .share {
                top: 70.5%;
            }
            .animation-text-target {
                font-size: 22px;
                color: black;
                position: absolute;
                bottom: 12%;
                left: 1%;
                &.final-text {
                    bottom: 6%;
                }
            }
            .animation-button-target {
                bottom: 11.5%;
            }
        }
    }    
    .slick-slide > div {
        text-align: center;
        .product-card {
            width: 80% !important;
            margin: 0 auto;
            .card-body {
                width: 100%;
                left: 0;
                position: relative;
                .align-items-center {
                    display: none;
                }
            }
            
            .card-img-top {
                position: relative;
                width: auto;
                margin: 15px auto 0;
                max-height: 170px;

                }
            } 
        }
        .get-form {
         form#get-quote {
             input.half {
                 width: 45.5%;
            }
        }
    }
}


@media screen and (orientation:portrait) { 
    #orientationModal {
        display: none;
    }
 }
@media screen and (max-width: 737px) and (orientation:landscape) { 
    #orientationModal {
        display: block;
    }
 }
/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (device-width : 414px) and (device-height : 736px) and (orientation:landscape) and (-webkit-device-pixel-ratio : 3) { 
    #orientationModal {
        display: block;
    }
 }
/* ipad portrait */
@media only screen and (device-width : 768px) and (orientation:portrait) { 
    #orientationModalLandscape {
        display: block;
    }
 }


.ui-selectmenu-open .ui-widget.ui-widget-content {
     max-width: 40px;
}
.nopadding {
     padding: 0 !important;
     margin: 0 !important;
}
.nopadding-left {
     padding-left: 0 !important;
     margin: 0 !important;
}
.nopadding-right {
     padding-right: 0 !important;
     margin: 0 !important;
}
 